<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>liewli.io</title>
    <link rel="stylesheet"
      href="../static/default.min.css">
<script src="../static/highlight.min.js"></script>
</head>
<body>
    {{{ content }}}
    <script>hljs.highlightAll();</script>
</body>
</html>